body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #6e9b26;
    padding: 20px;
    border-radius: 8px;
}

form input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #3037b0;
    color: black
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

body {
    background: rgb(112, 112, 106);
}

.edit-btn {
    background-color: #085d0b;
    /* green */
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.delete-btn {
    background-color: #f44336;
    /* red */
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #054d09;
}

.delete-btn:hover {
    background-color: #d32f2f;
}